[submodule "detectionfields"]
	path = detectionfields
	url = https://github.com/kaasNegen/detectionfields
[submodule "audio"]
	path = audio
	url = https://github.com/kaasNegen/audio
[submodule "object-detection"]
	path = object-detection
	url = https://github.com/kaasNegen/object-detection
