[submodule "detectionfields"]
	path = detectionfields
	url = https://github.com/kaasNegen/detectionfields
[submodule "audio"]
	path = audio
	url = https://github.com/kaasNegen/audio
[submodule "camera"]
	path = camera
	url = git@github.com:kaasNegen/camera.git
